<div class="container-record">
    <div class="content">
        <div class="p-3"><p>ประวัติการขึ้นทะเบียนสุนัขและแมวจรจัด</p></div>
        <div class="wrapper">
            <div class="header">
              <ul>
                <li class="active form_1_progessbar">
                  <div>
                    <p>1</p>
                  </div>
                  <span>ข้อมูลสถานที่/ผู้ให้ข้อมูล</span>
                </li>
                <li class="active form_2_progessbar">
                  <div>
                    <p>2</p>
                  </div>
                  <span>ข้อมูลสุนัขและแมวจรจัด</span>
                </li>
              </ul>
            </div>
          </div>
    </div>
    <div class="content">
        <div class="grid-content">
            <div class="text-content">
                <i class="fas fa-paw"></i>ประวัติการขึ้นทะเบียนสุนัขและแมวจรจัด
            </div>
        </div>
        <form class="form-signin" action="#" method="POST">
            <div class="icon-camera">
                <input type="file" id="selfie" name="selfie" accept="image/*" capture="user" />
                <label for="selfie"><i class="fas fa-camera" style="color: aliceblue; margin: 0px;"></i></label>
            </div>
            <div class="content-pest">
                <div class="box-pest">
                    <img src="/assets/dog.jpg" alt="">
                    <div class="text-pest">
                        <p>รูปภาพหลัก</p>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
                <div class="box-pest">
                    <img src="/assets/cat.jpg" alt="">
                    <div class="text-pest">
                        <p>รูปภาพ 2</p>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>

                <div class="text-form">
                    <p>สาเหตุการตาย : โรคพิษสุนัขบ้า</p>
                    <div class="grid-11">
                        <div class="text-form">
                            <p>วันที่</p>
                            <input type="text" class="form-control" id="#" name="#" placeholder="วันที่" value="" >
                        </div>
                        <div class="text-form">
                            <p>เดือน</p>
                            <input type="text" class="form-control" id="#" name="#" placeholder="เดือน" value="" >
                        </div>
                        <div class="text-form">
                            <p>ปี</p>
                            <input type="text" class="form-control" id="#" name="#" placeholder="ปี" value="" >
                        </div> 
                    </div>
                </div>
      
                <div class="text-form">
                    <p>ประเภทสัตว์เลี้ยง *</p>
                    <div class="grid-8">
                        <div class="checkbox-wrapper-42">
                            <input id="cbx-42" type="checkbox" />
                            <label class="cbx" for="cbx-42"></label>
                            <label class="lbl" for="cbx-42">สุนัข</label>
                        </div>
                        <div class="checkbox-wrapper-42">
                            <input id="cbx-43" type="checkbox" />
                            <label class="cbx" for="cbx-43"></label>
                            <label class="lbl" for="cbx-43">แมว</label>
                        </div>  
                    </div>
                </div>

                <div class="text-form">
                    <p>ชื่อ *</p>
                    <input type="text" class="form-control" id="#" name="#" placeholder="ชื่อสัตว์เลี้ยง" value="" >
                </div>

                <div class="text-form">
                    <p>ลักษณะ/อัตลักษณ์</p>
                    <textarea type="text" class="form-control" id="#" name="#" placeholder="ลักษณะ/อัตลักษณ์" value=""></textarea>
                </div>

                <div class="text-form">
                    <p>เพศ *</p>
                    <div class="grid-8">
                        <div class="checkbox-wrapper-42">
                            <input id="cbx-44" type="checkbox" />
                            <label class="cbx" for="cbx-44"></label>
                            <label class="lbl" for="cbx-44">ผู้</label>
                        </div>
                        <div class="checkbox-wrapper-42">
                            <input id="cbx-45" type="checkbox" />
                            <label class="cbx" for="cbx-45"></label>
                            <label class="lbl" for="cbx-45">เมีย</label>
                        </div>  
                    </div>
                </div>


                <div class="grid-2">
                    <div class="text-form">
                        <p>วัน/เดือน/ปีเกิด *</p>
                        <input type="date" class="form-control" id="#" name="#" placeholder="Birthday" value="#" >
                    </div>
    
                    <div class="text-form">
                        <p>อายุ</p>
                        <input type="number" class="form-control" id="#" name="#" placeholder="อายุ" value="#" >
                    </div>
                </div>

                <div class="text-form">
                    <p>การทำหมัน</p>
                    <div class="grid-8">
                        <div class="checkbox-wrapper-42">
                            <input id="cbx-46" type="checkbox" />
                            <label class="cbx" for="cbx-46"></label>
                            <label class="lbl" for="cbx-46">ยังไม่เคยทำ</label>
                        </div>
                        <div class="checkbox-wrapper-42">
                            <input id="cbx-47" type="checkbox" />
                            <label class="cbx" for="cbx-47"></label>
                            <label class="lbl" for="cbx-47">ทำหมันแล้ว</label>
                        </div>  
                    </div>
                </div>

                <div class="text-form">
                    <p>ประวัติการได้รับวัดซีนป้องกันโรคพิษสุนัข์บ้า</p>
                    <div class="grid-8">
                        <div class="checkbox-wrapper-42">
                            <input id="cbx-48" type="checkbox" />
                            <label class="cbx" for="cbx-48"></label>
                            <label class="lbl" for="cbx-48">ไม่เคย</label>
                        </div>
                        <div class="checkbox-wrapper-42">
                            <input id="cbx-49" type="checkbox" />
                            <label class="cbx" for="cbx-49"></label>
                            <label class="lbl" for="cbx-49">เคย</label>
                        </div>  
                    </div>
                </div>
                <button class="button-submit" style="padding: 10px 25px; margin-top: 5px;">เพิ่มข้อมูล</button>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">ลำดับ</th>
                            <th scope="col">วัคซีน</th>
                            <th scope="col">เดือน/ปี</th>
                            <th scope="col">รายการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="ลำดับ">1</td>
                            <td data-label="วัคซีน">วัคซีนป้องกันโรคพิษสุนัขบ้า</td>
                            <td data-label="เดือน/ปี"><input type="date" class="form-control" id="#" name="#" placeholder="Birthday" value="#"></td>
                            <td data-label="รายการ">
                                <div class="box-button">
                                    <button routerLink="/qr-code" class="button-submit" style="width:100%">แก้ไข</button>
                                    <button class="button-cancel" style="width:100%">ลบ</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-form">
                    <p style="border-bottom: 1px solid #eaecf1;padding-bottom:10px;margin-bottom: 10px;">ที่อยู่</p>
                        <div class="checkbox-wrapper-42">
                            <input id="cbx-50" type="checkbox" />
                            <label class="cbx" for="cbx-50"></label>
                            <label class="lbl" for="cbx-50">บ้านเลขที่ 24 ตรอก/ซอย แยก 8 ถนน สนามบิน แขวง/ตำบลสวนใหญ่ อำเภอเมืองนนทบุรี จังหวัด นนทบุรี รหัสไปรษณีย์ 11000</label>
                        </div>
                        <div class="checkbox-wrapper-42">
                            <input id="cbx-51" type="checkbox" />
                            <label class="cbx" for="cbx-51"></label>
                            <label class="lbl" for="cbx-51">บ้านเลขที่ 24 ตรอก/ซอย แยก 8 ถนน สนามบิน แขวง/ตำบลสวนใหญ่ อำเภอเมืองนนทบุรี จังหวัด นนทบุรี รหัสไปรษณีย์ 11000</label>
                        </div>  
                </div>
                <div class="grid-button">
                    <button routerLink="/RecordRabies" class="button-submit">บันทึกข้อมูล</button>
                    <button routerLink="/RecordRabies" class="button-cancel">ยกเลิก</button>
                </div>
        </form>
    </div>
    </div>