<div class="container-record">
    <div class="content">
        <div class="grid-content">
            <div class="text-content">
                <p><i class="fas fa-map"></i>รายการข้อมูลพื้นที่ ตำบลบางเขน</p>
            </div>
        </div>
        <form class="form-signin" action="#" method="POST">
            <table>
                <thead>
                    <tr>
                        <th scope="col">ลำดับที่</th>
                        <th scope="col">ชื่อ/พื้นที่</th>
                        <th scope="col">รายละเอียด</th>
                        <th scope="col">จัดการ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="ลำดับที่">1</td>
                        <td data-label="ชื่อ/พื้นที่">หมู่ 1</td>
                        <td data-label="รายละเอียด"><button routerLink="/InformationDetail" class="button-update"><i class="fas fa-search-plus"></i>รายละเอียด</button></td>
                        <td data-label="จัดการ">
                                <button routerLink="/InformationDetail" class="button-submit" style="padding: 10px 15px;"><i style="margin: 0px;" class="fas fa-tasks"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td data-label="ลำดับที่">2</td>
                        <td data-label="ชื่อ/พื้นที่">หมู่ 1</td>
                        <td data-label="รายละเอียด"><button routerLink="/InformationDetail" class="button-update"><i class="fas fa-search-plus"></i>รายละเอียด</button></td>
                        <td data-label="จัดการ">
                                <button routerLink="/InformationDetail" class="button-submit" style="padding: 10px 15px;"><i style="margin: 0px;" class="fas fa-tasks"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td data-label="ลำดับที่">3</td>
                        <td data-label="ชื่อ/พื้นที่">หมู่ 1</td>
                        <td data-label="รายละเอียด"><button routerLink="/InformationDetail" class="button-update"><i class="fas fa-search-plus"></i>รายละเอียด</button></td>
                        <td data-label="จัดการ">
                                <button routerLink="/InformationDetail" class="button-submit" style="padding: 10px 15px;"><i style="margin: 0px;" class="fas fa-tasks"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td data-label="ลำดับที่">4</td>
                        <td data-label="ชื่อ/พื้นที่">หมู่ 1</td>
                        <td data-label="รายละเอียด"><button routerLink="/InformationDetail" class="button-update"><i class="fas fa-search-plus"></i>รายละเอียด</button></td>
                        <td data-label="จัดการ">
                                <button routerLink="/InformationDetail" class="button-submit" style="padding: 10px 15px;"><i style="margin: 0px;" class="fas fa-tasks"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td data-label="ลำดับที่">5</td>
                        <td data-label="ชื่อ/พื้นที่">หมู่ 1</td>
                        <td data-label="รายละเอียด"><button routerLink="/InformationDetail" class="button-update"><i class="fas fa-search-plus"></i>รายละเอียด</button></td>
                        <td data-label="จัดการ">
                                <button routerLink="/InformationDetail" class="button-submit" style="padding: 10px 15px;"><i style="margin: 0px;" class="fas fa-tasks"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td data-label="ลำดับที่">6</td>
                        <td data-label="ชื่อ/พื้นที่">หมู่ 1</td>
                        <td data-label="รายละเอียด"><button routerLink="/InformationDetail" class="button-update"><i class="fas fa-search-plus"></i>รายละเอียด</button></td>
                        <td data-label="จัดการ">
                                <button routerLink="/InformationDetail" class="button-submit" style="padding: 10px 15px;"><i style="margin: 0px;" class="fas fa-tasks"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    </div>