<div class="container-record">
    <div class="content">
        <div class="grid-content">
            <div class="text-content"><i class="fas fa-sort-down"></i>การบันทึกผลข้อมูลโรคพิษสุนัขบ้า</div>
            <div class="box-content">
                <button routerLink="/RecordRabiesSick" class="button-one"><i class="fas fa-caret-right"></i>การบันทึกข้อมูลสุนัขและแมวที่ป่วยตายด้วยโรคพิษสุนัขบ้า</button>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="grid-content">
            <div class="text-content"><i class="fas fa-sort-down"></i>การรายงานผลการวิเคราะห์ข้อมูล</div>
            <div class="box-content">
                <button routerLink="/AnalyzeSearchOwner" class="button-one"><i class="fas fa-caret-right"></i>การรายงานผลการวิเคราะห์ข้อมูลเจ้าของสุนัขและแมว</button>
                <button routerLink="/AnalyzeSearchPets" class="button-one"><i class="fas fa-caret-right"></i>การรายงานผลการวิเคราะห์ข้อมูลสุนัขและแมว</button>
                <button routerLink="/AnalyzeSearchRabies" class="button-one"><i class="fas fa-caret-right"></i>การรายงานผลการวิเคราะห์ข้อมูลโรคพิษสุนัขบ้า</button>
            </div>
        </div>
    </div>
</div>