<section class="top-nav">
    <div class="nav-center">
        <div class="img-record">
            <img src="/assets/logo.png">
            <p class="p-2">Bcnnon Rabies</p>
        </div>
        <!-- <div class="text-title">Bcnnon Rabies</div> -->
        <input id="menu-toggle" type="checkbox" />
        <label class="menu-button-container" for="menu-toggle">
            <div class="menu-button"></div>
        </label>
        <ul class="menu">
            <!-- <li class="button-nav-a" routerLink="/login"><i class="fas fa-sign-in-alt"></i>เข้าสู่ระบบ</li> -->
            <li class="button-nav-a"><a routerLink="" style="color: #4a5c6f;"><i class="fas fa-user-circle"></i>นายทินวงศ์</a></li>
            <li class="button-nav-a"><a routerLink="/login" style="color: #4a5c6f;"><i class="fas fa-sign-out-alt"></i>ออกจากระบบ</a></li>
       </ul>
    </div>
</section>