<div class="container-record">
    <div class="content">
        <div class="p-3">
            <p>การรายงานผลการวิเคราะห์ข้อมูลสุนัขและแมว</p>
        </div>
    </div>
    <div class="content">
        <div class="grid-content">
            <div class="text-content">
                <p><i class="fas fa-search"></i> ค้นหา</p>
            </div>
        </div>
        <form class="form-signin" (ngSubmit)="onSearch()">
            <div class="text-form">
                <label for="startDate">ตั้งแต่วันที่ *</label>
                <input id="startDate" type="date" class="form-control" [(ngModel)]="startDate" name="startDate" required>
            </div>
            <div class="text-form">
                <label for="endDate">ถึงวันที่ *</label>
                <input id="endDate" type="date" class="form-control" [(ngModel)]="endDate" name="endDate" required>
            </div>
            <div class="text-form">
                <label for="province">จังหวัด *</label>
                <select id="province" class="form-control" [(ngModel)]="selectedProvince" name="province" (change)="getAmphures()" required>
                    <option value="" disabled>-กรุณาเลือกจังหวัด-</option>
                    <option *ngFor="let province of provinces" [value]="province.id">{{ province.name_th }}</option>
                </select>
            </div>
            <div class="text-form">
                <label for="amphure">อำเภอ *</label>
                <select id="amphure" class="form-control" [(ngModel)]="selectedAmphure" name="amphure" (change)="getDistricts()" required>
                    <option value="" disabled>-กรุณาเลือกอำเภอ-</option>
                    <option *ngFor="let amphure of amphures" [value]="amphure.id">{{ amphure.name_th }}</option>
                </select>
            </div>
            <div class="text-form">
                <label for="tambon">แขวง/ตำบล *</label>
                <select id="tambon" class="form-control" [(ngModel)]="selectedTambon" name="tambon" required>
                    <option value="" disabled>-กรุณาเลือกแขวง/ตำบล-</option>
                    <option *ngFor="let tambon of tambons" [value]="tambon.id">{{ tambon.name_th }}</option>
                </select>
            </div>
            <div class="text-form">
                <label for="village">หมู่</label>
                <input id="village" type="text" class="form-control" [(ngModel)]="villageNumber" name="village" placeholder="หมู่">
            </div>
            <button type="submit" class="button-submit" style="width: 100%;">
                <i class="fas fa-search"></i> ค้นหา
            </button>
        </form>
    </div>
</div>
