<div class="container-record">
    <div class="content">
        <div class="grid-content">
            <div class="text-content box-2">
                <p><i class="fas fa-search"></i>ค้นหาเจ้าของสัตว์เลี้ยง</p>
                <button class="button-map">ยกเลิก</button>
            </div>
        </div>
        <form class="form-signin" action="#" method="POST">
            <div class="text-form">
                <p>ชื่อ</p>
                <input type="text" class="form-control" id="#" name="#" placeholder="ชื่อ" value="">
            </div>
            <div class="text-form">
                <p>นามสกุล</p>
                <input type="text" class="form-control" id="#" name="#" placeholder="นามสกุล" value="">
            </div>
            <div class="text-form">
                <p>โทรศัพท์มือถือ</p>
                <div class="grid-search ">
                    <input type="number" placeholder="เบอร์โทรศัพท์มือถือ" name="text">
                    <div routerLink="/HistoryRabies"
                        style="height: 100%; display: flex;align-items: center;justify-content: center;"
                        class="button-submit" type="submit"><i class="fa fa-search"></i>
                    </div>
                </div>
            </div>

            <div class="text-form">
                <p>จังหวัด *</p>
                <select class="form-control" name="Ref_prov_id" id="provinces_1">
                    <option value="" selected disabled>-กรุณาเลือกจังหวัด-</option>
                </select>
            </div>
            <div class="text-form">
                <p>อำเภอ *</p>
                <select class="form-control" name="Ref_prov_id" id="provinces_1">
                    <option value="" selected disabled>-กรุณาเลือกอำเภอ-</option>
                </select>
            </div>
            <div class="grid-2">
                <div class="text-form">
                    <p>แขวง/ตำบล *</p>
                    <select class="form-control" name="Ref_prov_id" id="provinces_1">
                        <option value="" selected disabled>-กรุณาเลือกแขวง/ตำบล-</option>
                    </select>
                </div>
                <div class="text-form">
                    <p>หมู่</p>
                    <input type="text" class="form-control" id="#" name="#" placeholder="หมู่" value="">
                </div>
            </div>
            <div class="text-form">
                <p>รายละเอียด</p>
                <textarea type="text" class="form-control" id="#" name="#" placeholder="รายละเอียด .." value=""></textarea>
            </div>
            <div class="text-form">
                <p>ตรอก/ซอย</p>
                <input type="text" class="form-control" id="#" name="#" placeholder="ตรอก/ซอย" value="">
            </div>
            <div class="text-form">
                <p>ถนน</p>
                <input type="text" class="form-control" id="#" name="#" placeholder="ถนน" value="">
            </div>
            <div class="text-form">
                <p>รหัสไปรษณีย์ *</p>
                <input type="text" class="form-control" id="#" name="#" placeholder="รหัสไปรษณีย์" value="">
            </div>

            <div class="grid-10">
                <div class="text-form">
                    <p>บ้านเลขที่</p>
                    <input type="text" class="form-control" id="#" name="#" placeholder="นามสกุล" value="">
                </div>
                <div class="text-form">
                    <p>สถานที่สำคัญ</p>
                    <div class="grid-search">
                        <input type="number" placeholder="เบอร์โทรศัพท์มือถือ" name="text">
                        <div routerLink="/HistoryRabies"
                            style="height: 100%; width: 100%; display: flex;align-items: center;justify-content: center;"
                            class="button-submit" type="submit"><i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-form">
                <p>ค้นหาผู้ให้ข้อมูล</p>
                <div class="grid-search ">
                    <input type="number" placeholder="ค้นหาผู้ให้ข้อมูล" name="text">
                    <div routerLink="/HistoryRabies"
                        style="height: 100%; display: flex;align-items: center;justify-content: center;"
                        class="button-submit" type="submit"><i class="fa fa-search"></i>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>