<div class="container-record">
    <div class="content">
        <div class="grid-content">
            <div class="text-content">
                <p><i class="fas fa-map"></i>รายการข้อมูลพื้นที่ หมู่ 1</p>
            </div>
        </div>
        <p style="margin-left: 15px;margin-top: 10px; font-size: 18px;">เจ้าของสุนัขและแมว หมู่ 1 ตำบลบางเขน อำเภทเมืองนนทบุรี จังหวัด นนทบุรี จำนวน 10 คน</p>
        <form class="form-signin" action="#" method="POST">
            <table>
                <thead>
                    <tr>
                        <th scope="col">ลำดับที่</th>
                        <th scope="col">-</th>
                        <th scope="col">ชื่อเจ้าของสัตว์เลี้ยง</th>
                        <th scope="col">ประเภทสัตว์เลี้ยง</th>
                        <th scope="col">-</th>
                        <th scope="col">ชื่อสัตว์เลี้ยง</th>
                        <th scope="col">ที่อยู่</th>
                        <th scope="col">วันที่ลงทะเบียน</th>
                        <th scope="col">ดูข้อมูล</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="ลำดับที่">1</td>
                        <td data-label="-"><img src="src/assets/cat.jpg" width="100%"></td>
                        <td data-label="ชื่อเจ้าของสัตว์เลี้ยง"><a routerLink="/InformationOwner">ยอด ขวัญใจ</a></td>
                        <td data-label="ประเภทสัตว์เลี้ยง">สุนัข</td>
                        <td data-label="-"><img src="src/assets/cat.jpg" width="100%"></td>
                        <td data-label="ชื่อสัตว์เลี้ยง">โก้</td>
                        <td data-label="ที่อยู่">ตำบลบางเขน อำเภทเมืองนนทบุรี จังหวัด นนทบุรี</td>
                        <td data-label="วันที่ลงทะเบียน">18 มีนาคม 2567 - 09:26:05</td>
                        <td data-label="ดูข้อมูล">
                                <button routerLink="/InformationOwner" class="button-submit" style="padding: 10px 15px;"><i style="margin: 0px;" class="fas fa-search"></i></button>
                        </td>
                    </tr>

                    <tr>
                        <td data-label="ลำดับที่">2</td>
                        <td data-label="-"><img src="src/assets/cat.jpg" width="100%"></td>
                        <td data-label="ชื่อเจ้าของสัตว์เลี้ยง"><a routerLink="/InformationOwner">ยอด ขวัญใจ</a></td>
                        <td data-label="ประเภทสัตว์เลี้ยง">สุนัข</td>
                        <td data-label="-"><img src="src/assets/cat.jpg" width="100%"></td>
                        <td data-label="ชื่อสัตว์เลี้ยง">โก้</td>
                        <td data-label="ที่อยู่">ตำบลบางเขน อำเภทเมืองนนทบุรี จังหวัด นนทบุรี</td>
                        <td data-label="วันที่ลงทะเบียน">18 มีนาคม 2567 - 09:26:05</td>
                        <td data-label="ดูข้อมูล">
                                <button routerLink="/InformationOwner" class="button-submit" style="padding: 10px 15px;"><i style="margin: 0px;" class="fas fa-search"></i></button>
                        </td>
                    </tr>

                    <tr>
                        <td data-label="ลำดับที่">3</td>
                        <td data-label="-"><img src="src/assets/cat.jpg" width="100%"></td>
                        <td data-label="ชื่อเจ้าของสัตว์เลี้ยง"><a routerLink="/InformationOwner">ยอด ขวัญใจ</a></td>
                        <td data-label="ประเภทสัตว์เลี้ยง">สุนัข</td>
                        <td data-label="-"><img src="src/assets/cat.jpg" width="100%"></td>
                        <td data-label="ชื่อสัตว์เลี้ยง">โก้</td>
                        <td data-label="ที่อยู่">ตำบลบางเขน อำเภทเมืองนนทบุรี จังหวัด นนทบุรี</td>
                        <td data-label="วันที่ลงทะเบียน">18 มีนาคม 2567 - 09:26:05</td>
                        <td data-label="ดูข้อมูล">
                                <button routerLink="/InformationOwner" class="button-submit" style="padding: 10px 15px;"><i style="margin: 0px;" class="fas fa-search"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
          </div>
    </div>
    </div>