<div class="container-record">
    <!-- <div class="box">
        <div class="img-record">
            <img src="/assets/logo.png">
            <p class="p-2">Bcnnon Rabies</p>
        </div>
        <div class="box-record">
            <i class="fas fa-user-circle" style="font-size: 35px;"></i>
            <p>นายทินวงศ์</p>
        </div>
    </div> -->
    <div class="content">
        <div class="grid-content">
            <div class="text-content" style="font-weight: 600; color:blueviolet">    การบันทึกขึ้นทะเบียนสุนัขและแมว</div>
            <div class="box-content">
                <button routerLink="/RegistrationOwner" class="button-one"><i class="fas fa-caret-right"></i>ขึ้นทะเบียนรายใหม่</button>
                <button routerLink="/HistoryRegistration" class="button-one"><i class="fas fa-caret-right"></i>มีประวัติขึ้นทะเบียน</button>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="grid-content">
            <div class="text-content" style="font-weight: 600; color:blueviolet">สุนัขและแมวจรจัด</div>
            <div class="box-content">
                <button routerLink="/RegistrationStray" class="button-one"><i class="fas fa-caret-right"></i>ขึ้นทะเบียนรายใหม่</button>
                <button routerLink="/HistoryStray" class="button-one"><i class="fas fa-caret-right"></i>มีประวัติขึ้นทะเบียน</button>
            </div>
        </div>
    </div>
</div>